# Git path attributes configuration file
#
# References:
#
# * Git - Git Attributes
#   https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes
# * Git - gitattributes Documentation
#   https://www.git-scm.com/docs/gitattributes
#
# Copyright 2026 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

# Export everything, except for the files used for the development of
# the template(including this file)
/.gitattributes export-ignore
/.markdownlint.yml export-ignore
